
<%= form_for resource,  :url => user_registration_path,
                   :builder => InlineErrorsBuilder,
                   :method => :POST,
                   :role => :form do |f| %>

  <fieldset>
    <legend>Sign Up</legend>
    <ul>

      <li id="first-name">
       <label for="firstName-coldRegistrationForm" >First name</label>
          <div class="fieldgroup">
            <%= f.text_field :firstname, :maxlength => "20", :size => "55", :type => "text" %>
          </div>
      </li>
      
      <li id="last-name">
        <label for="lastName-coldRegistrationForm" >Last name</label>
          <div class="fieldgroup">
            <%= f.text_field :lastname, :maxlength => "20", :size => "55", :type => "text" %>
          </div>
      </li>

      <div class="clearfix top-space"></div>
      
      <li id="email">
        <label for="email-coldRegistrationForm" >Email address</label>
          <div class="fieldgroup">
            <%= f.email_field :email, :autofocus => true %>
          </div>
      </li>

      <li id="password">
        <label for="password-coldRegistrationForm" >Password (6 or more characters)</label>
          <div class="fieldgroup">
            <%= f.password_field :password %>
          </div>
      </li>

      <li id="password">
        <label for="password-coldRegistrationForm" >password_confirmation</label>
          <div class="fieldgroup">
            <%= f.password_field :password_confirmation %>
          </div>
      </li>

      <div class="form-bottom-row">
        <p class="policy"></p>
        <p class="action">
          <%= f.submit "Join now", :class => "btn-action", :id => "btn-submit" %>
        </p>
      </div>

    </ul>

  </fieldset>

<% end %>

        

