    <div class="span3 siderbar">
      <div class="col-md-4">

        <ul class="nav nav-pills nav-stacked well text-left">
          <li>
            <%= content_tag :strong, current_user.firstname %>
          </li>
          <li>
            <%= content_tag :small, '@'+current_user.lastname %>
            <br> (id: <%= current_user.id %> at <%= current_user.created_at %>)
            <br> <a href="/welcome/index">Show All Users</a>
          </li>
          <li>
              <table class="table table-bordered stats">
                <tbody>
                  <tr>
                    <td>
                      <%= content_tag :h4, current_user.tags.count %>
                      <a href="/welcome/tags">Tags</a>
                    </td>
                    <td>
                      <% if @conns %> <%= @conns.size %>  <% else %> 0  <% end %>
                     <br>
                      <a href="/welcome/conns">Connections</a>
                    </td>
                    <td>
                       0
                      <br>
                      <a href="/messages/shows">Messages</a>
                    </td>
                </tbody>
              </table>
          </li>
          <li>
            <%= form_for (@tag || :tag), :url => tags_path,
               :method => :POST,
               :role => :form do |f| %>
              <div class="mar-top-15">
                <%= content_tag :div do %>
                  <%= f.text_area :name, :placeholder => "Add a new Tag like ruby", :class => 'form-control', :height => "500" %>
                <% end %>
            <%= f.submit "Add Tag", :class => "btn btn-primary pull-right" %>
              </div>
            <% end %>
          </li>
      </div>
    </div>
