<!DOCTYPE html>
<html>
<head>
 <title>SharedIn.us</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

 <link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=3bifs78lai5i0ndyj1ew7316e-9itxa6zyjvg22zg8x43bjie3o-2it1to3q1pt5evainys9ta07p-4uu2pkz5u0jch61r2nhpyyrn8-6vwzw0ipx7zafkp38dk7h9vf7-7poavrvxlvh0irzkbnoyoginp-4om4nn3a2z730xs82d78xj3be-16do2fwrv2laqdi1lpod1pt4s-ct4kfyj4tquup0bvqhttvymms-cxff0g818hf3ks7dzixd4lqcq&amp;fc=1">

 <link rel="stylesheet" type="text/css" href="https://static.licdn.com/scds/concat/common/css?h=bsmsbj94a1whpq3bph6eagrtu-8k6r9c0fn6s2zy3aofnyobher-339m0bwob0kpb2pqrha0dlx1j-b9mymey6ad7p3ka7rkucutgnb-npu3qknrq9dxl9o7lthiox77&amp;fc=1">

</head>


<body class="en guest v2 new-ghome login-in-header chrome-v5 chrome-v5-responsive sticky-bg guest" id="pagekey-guest-home">

<div id="header">
  <div class="container">
    <h1><img src="/assets/sharedin_logo.png" alt="LinkedIn" class="logo" height="32" width="132"></h1>
    <p class="textad"></p>
    <div class="login">
      
      <% if user_signed_in? %>

      User <%= current_user.email %> has signed in

      <%= button_to("Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-xs btn-link nav-sign-out')  %>

      <% else %>

      No User has signed in, please signed in

      <%= render :partial => '/home/sign_in' %>

      <% end %>
          
   
    </div>
  </div>
</div>

<div class="clearfix top-space"></div>
<%= yield %>


</body>
</html>
